<div id="about-me" class="one-screen-container">
    <div class="background-aboutme">
        <figure>
            <img class="background-img" src="assets/images/PORTRAITS odp+ 2023-14.jpg">
            </img>
        </figure>
        <div class="overlay"></div>
    </div>
    <div class="about-me-content">
        <h1>Heya!</h1>
        <p>Welcome to my website where i aim to show the things I make.</p>
        <p>From Programming to Games and Music - I will use this space to share about it.</p>
        
        <p>I currently work on a revamp of Core Bug. Drop by every now and then to see any updates</p>
    </div>
</div>