<div id="landing-page" class="one-screen-container">
    <div class="landing-content text-start">
        <p class="frontpage-titel text-start">
            Songman Theodor Wöllmer
        </p>
        <p class="frontpage-subtitle text-start">
            Game Developer | Programmer | Musician
        </p>
        <div class="frontpage-icon-container no-wrap">
            <a href="https://www.linkedin.com/in/songman-theodor-woellmer/">
                <div class="frontpage-icon">
                    {% include svg/linkedin.svg %}
                </div>
            </a>

            <a href="https://www.github.com/SongTedWoe">
                <div class="frontpage-icon">
                    {% include svg/github-stroke-rounded.svg %}
                </div>
            </a>

            <a href={{ site.itch_link}}>
                <div class="frontpage-icon inverted-svg">
                    {% include svg/itchio-logo-textless-white.svg %}
                </div>
            </a>


            <a href="mailto:songman.dev@googlemail.com">
                <div class="frontpage-icon">
                    {% include svg/mail.svg %}
                </div>
            </a>
        </div>
    </div>
    <div class="scroll-icon">
        <a class="frontpage-icon" href="#about-me">
            {% include svg/nav-arrow-down.svg %}
        </a>
    </div>
    
</div>