<div id="projects" class="fullscreen">
    <div class="projects-container"">
        <h1>Projects I have worked on</h1>
        <div class="projects-scroll-list">
            <ul>
            {% for project in site.projects %}
                <a href="{{ project.url }}">
                <li>
                    <table>
                        <tr>
                            <td width="350px">
                                <img src="{{ project.thumbnail }}">
                                </img> 
                            </td>
                            <td>
                                <h2>{{ project.title }} </h2> 
                                <p class="subtext">{{ project.release }}</p>
                                <p>{{ project.description }}</p>
                                <p>
                                    {% if project.itch %}
                                        <a href="{{ project.itch }}">Itch.io</a>
                                    {% endif %}
                                    {% if project.steam %}
                                        <a href="{{ project.steam }}">Steam</a>
                                    {% endif %}
                                    {% if project.codebase %}
                                        <a href="{{ project.codebase }}">Codebase</a>
                                    {% endif %}
                                </p>
                            </td>
                        </tr>
                    </table>
                    {% if project.positions %}
                    <p>Positions: {{ project.positions }}</p>
                    {% endif %}
                </li>
                </a>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>