$debug: false;

$font-normal:30px/1.2 "Russo", sans-serif;
$font-normal-header: bold 30px/1.5 "Russo", sans-serif;
$font-frontpage:  bold 50px/1.5 "Russo", sans-serif;
$color-background-frontpage-slide-start: #28314D;
$color-background: #192230;
$color-background-projects-list: #28314D;
$color-text: #cccccc;
$color-subtext: #9397ac;
$color-link: #a96c2b;
$color-icon: #9397ac;
$color-icon-highlight: #cccccc;

$pad-horizontal: 10%;
$pad-vertical: 5%;